language: ruby
cache: bundler
sudo: false
bundler_args: --without development
before_script: "bin/rake refinery:testing:dummy_app"
script: "bin/rspec spec"
notifications:
  irc:
    use_notice: true
    skip_join: true
    channels:
      - "irc.freenode.org#refinerycms"
  webhooks:
    - https://webhooks.gitter.im/e/b5d48907cdc89864b874
env:
  - DB=postgresql
  - DB=mysql
rvm:
  - 2.6
